# Python cache e arquivos compilados
__pycache__/
*.py[cod]
*$py.class

# Diretórios de ambiente virtual comuns
venv/
.venv/
env/
.env/
projeto_tcc

# Arquivos de configuração local e variáveis de ambiente
.env
*.env
backend/.env

# Logs e arquivos temporários
*.log
*.sqlite3
*.db
*.pid
*.sock

# Pasta de uploads, se houver (exemplo para imagens que podem ser geradas)
uploads/
media/

# Diretórios node_modules se frontend estiver no mesmo repositório
node_modules/

# Arquivos de build, dist, caches
build/
dist/
*.egg-info/

# IDEs e editores comuns
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Outros arquivos temporários e backup
*.bak
*.tmp
*.temp

# Cache do pip
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# coverage reports
htmlcov/
.coverage
.coverage.*

# mypy
.mypy_cache/

# Pytest cache
.pytest_cache/

# celery beat schedule file
celerybeat-schedule

# Flask stuff
instance/
.webassets-cache

# VS Code settings
.vscode/

faces
